<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.botond.judoapp_4">

    <application
        android:name=".MyJudoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/judogi_icon_2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/judogi_icon_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".activities.auth.MainActivity">

        </activity>
        <activity android:name=".activities.auth.LogInActivity" />
        <activity android:name=".activities.auth.SignUpActivity" />
        <activity android:name=".activities.profile.ProfileActivity">


        </activity>
        <activity android:name=".activities.learn.LearnActivity" />
        <activity android:name=".activities.scoreboard.ScoreboardActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activities.scoreboard.StopwatchActivity" />
        <activity
            android:name=".activities.ProfileSettingsActivity"
            android:label="@string/title_activity_profile_settings"
            android:parentActivityName=".activities.profile.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.botond.judoapp_4.activities.profile.ProfileActivity" />
        </activity>
    </application>

</manifest>