<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.botond.judoapp_4">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/judogi_icon_2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/judogi_icon_2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".auth.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.LogInActivity" />
        <activity android:name=".auth.SignUpActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LearnActivity" />
        <activity android:name=".ScoreboardActivity" />
        <activity android:name=".StopwatchActivity" />
        <activity android:name=".ViewLectureActivity" />
        <activity
            android:name=".ProfileSettingsActivity"
            android:label="@string/title_activity_profile_settings"
            android:parentActivityName=".ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.botond.judoapp_4.ProfileActivity" />
        </activity>
        <activity android:name=".belts.BeltsActivity" />
        <activity android:name=".belts.ViewBeltActivity"></activity>
    </application>

</manifest>